{% load static %}
<footer id="footer" class="footer-area wow fadeIn">
   <div class="container">
      <div class="row">
         
         <!-- Grid 1 -->
         <div class="col-md-3">
            <div class="logo padding">
               <a href=""><img src="{% static 'images/logo/GENESIS ROYAL LOGO.png' %}" alt=""></a>
               <p style="color: rgba(0, 0, 0, 0.87);">At our human beings Hospital, we are dedicated to providing compassionate care tailored to every stage of a human beings life.</p>
            </div>
         </div>

          <div class="col-md-3">
            <div class="footer-links padding">
               <h3>QUICK LINKS</h3>
               <p><a href="">Home</a></p>
               <p><a href="">About</a></p>
               <p><a href="">Service</a></p>
               <p><a href="">Doctor</a></p>
               <p><a href="">Contact</a></p>
            </div>
         </div>

         <!-- Grid 2 -->
         <div class="col-md-3">
            <div class="footer-info padding">
               <h3>CONTACT US</h3>
               <p style="color: rgba(0, 0, 0, 0.795);"><i class="fa fa-map-marker" aria-hidden="true"></i> No 59- 62,<br>Puliyakulam main road,<br>Coimbatore,<br>Tamil Nadu,<br>India - 641045.</p>
               <p><i class="fa fa-paper-plane" aria-hidden="true"></i> genesiswcc@gmail.com</p>
               <p><i class="fa fa-phone" aria-hidden="true"></i>7373072969</p>
            </div>
         </div>

         <!-- Grid 3 -->
         <div class="col-md-3">
            <div class="subcriber-info">
               <h3>LOCATION</h3>
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.422159048709!2d76.98913227502854!3d11.006918954899971!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba859bd879f56a3%3A0x87be36985bee6749!2sGenesis%20Royal%20Infirmary!5e0!3m2!1sen!2sin!4v1755509378841!5m2!1sen!2sin" width="350px" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
         </div>
      </div>
   </div>
</footer>
<div class="copyright-area wow fadeIn">
         <div class="container">
            <div class="row">
               <div class="col-md-8">
                  <div class="footer-text">
                     <p>© 2025. Developed and Managed by <a id="tw" href="https://www.violetinfotech.in/" target="_blank">Violet Infotech</a></p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="social">
                     <ul class="social-links">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://wa.me/917373072969" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>